/*
 * Project Steps
 */

.project-step {
  padding: 2em 0 0;
  background: $white;
  text-align: center;

  @include min($tablet) {
    padding: 4em 0 0;
  }
}

.project-button {
  display: block;
  margin-top: 2em;
  color: $primary-text;
  transition: color 150ms ease-in-out;

  &:hover {
    color: $black;
  }
}

.step-content {
  padding: 2em 0 1em;
  text-align: left;
  max-width: 740px;
  margin: auto;

  @include min($tablet) {
    padding: 8em 0 4em;
  }
}

.step-body {
  margin-bottom: 0.5em;
  letter-spacing: -0.5px;
  font-size: 1.6rem;

  @include min($tablet) {
    font-size: 2.2rem;
  }

  a {
    color: $primary-text;
  }
}
.work-list {
  margin: auto;
  max-width: 640px;
  font-size: 2.8rem;
  letter-spacing: -0.5px;
  font-size: 1.6rem;
  width: 75%;
  
  @include min($tablet) {
    font-size: 2.5rem;
    width: 100%;
  }
  

}
.secondary-header-list {
  text-decoration: underline;
    // display: flex;
    // flex: 1 1 100%;
    margin-bottom: 0.5em;
    letter-spacing: -1px;
    font-size: 3rem;
    font-weight: 400;
    // text-decoration: underline;
  
    @include min($tablet) {
      font-size: $h2-font-size;
    }
}
